body{
background: url(bg_top.gif);
margin:0% 15%;
}

h1{
text-align:center;
font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
border-bottom:1px solid;
background-color: white
}


h2{
font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
background-color: white;
padding: 10px;
}

p{

font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
background-color: white
} 

table{
    float:center;
    width: 100%;
    padding: 0;
    margin: 0;
   }
table td
{width= 20%;
}
#nav a {
    float: left;
    width: 86%;
    text-decoration: underline;
	text-align:center;
    color: black;
    background-color: white;
    padding: 1em 0.6em;
    border: 2px solid black;
	border-top-right-radius:2em;
	border-top-left-radius:2em;
}

#nav a:hover {
    background-color: green;
	color: white;
	
}

li {
    display: inline;
}
#applicationlist {
float:left;
width:100%;
margin: 2px;
color: black;
background-color: white;
padding: 1em 0.6em;
border: 3px double black;
}
#applicationlist th{
width:49%;
text-align: center;
}
#applicationlist td{
width:49%;
text-align:center;
}

#left{
	float:left;
	width:75%;
	background-color: white;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
}
#right{
	float:right;
	width:20%;
	background-color: white
}

#container{
width:960px;
background-color: white
 }
 
 #footer{
 clear: both;
 text-align:center;
 width:960px;
 }

